<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
        <title>Customize Foodtypes</title>
</head>
<body>
    <%- include('partials/navbarSelection.ejs') %>
    
         <!-- Title -->
        <h3 class="text-center mb-4" style="margin-top: 20px;">All Food Types' Information</h3>
    
        <!-- food type table -->
        <div class="table-responsive rounded overflow-hidden border" style="margin-left: 10px;margin-right: 10px;">
            <table class="table table-bordered table-striped mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Creator</th>
                        <th>Create time</th>
                        <th>Available</th>
                        <th>Order</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% foodtypes.forEach(function(foodtype) { %>
                        <tr>
                            <td>
                                <%= foodtype.name %>
                            </td>
                            <td>
                                <%= foodtype.creator %>
                            </td>
                            <td>
                                <%= new Date(foodtype.createtime).toLocaleString('en-NZ') %>
                            </td>
                            <td>
                                <%= foodtype.available===1 ? 'True' : 'False' %>
                            </td>
                            <td>
                                <div class="d-flex gap-2" style="justify-content: center; align-items: center;">
                                    <form action="/upFoodtype" method="POST">
                                        <button class="btn btn-light border"><i class="bi bi-arrow-up"></i></button>
                                        <input type="hidden" name="id" value="<%= foodtype.id %>">
                                        <input type="hidden" name="showOrder" value="<%= foodtype.showOrder %>">
                                    </form>
                                    <form action="/downFoodtype" method="POST">
                                        <button class="btn btn-light border"><i class="bi bi-arrow-down"></i></button>
                                        <input type="hidden" name="id" value="<%= foodtype.id %>">
                                        <input type="hidden" name="showOrder" value="<%= foodtype.showOrder %>">
                                    </form>
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <% if (foodtype.available===1) { %>
                                    <form action="/updateFoodtype" method="POST"
                                        onsubmit="return confirm('Are you sure you want to unlist this food type?');">
                                        <input type="hidden" name="id" value="<%= foodtype.id %>">
                                        <input type="hidden" name="available" value="<%= foodtype.available %>">
                                        <button class="btn btn-success btn-sm" type="submit">Unlist</button>
                                    </form>
                                    <% } else { %>
                                        <form action="/updateFoodtype" method="POST"
                                            onsubmit="return confirm('Are you sure you want to list this food type?');">
                                            <input type="hidden" name="id" value="<%= foodtype.id %>">
                                            <input type="hidden" name="available" value="<%= foodtype.available %>">
                                            <button class="btn btn-success btn-sm" type="submit">List</button>
                                        </form>
                                        <% } %>
                            </td>
                            <td style="text-align: center;">
                                <form action="/deleteFoodtype" method="POST"
                                    onsubmit="return confirm('Are you sure you want to delete this food type?');">
                                    <input type="hidden" name="id" value="<%= foodtype.id %>">
                                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    
        <!-- add button -->
        <div>
            <button id="addFoodtypeBtn" class="btn btn-primary mt-3" style="margin: 10px;">New</button>
            <% if (addSuccess ==='1' ) { %>
                <div id="err_add" class="alert alert-success mt-3">Add food type success!</div>
            <% } else if (updateSuccess ==='1' ) { %>
                <div id="err_update" class="alert alert-success mt-3">Update Available success!</div>
            <% } else if (deleteSuccess ==='1' ) { %>
                <div id="err_delete" class="alert alert-success mt-3">Delete a record success!</div>
            <% } %>
        </div>
        
        <!-- new Foodtype -->
        <div id="addFoodtypeForm" style="display: none; align-items: center; justify-content: center;" >
            <form action="/addFoodtype" method="POST">
                <div class="d-flex userinfo-div">
                    <label class="form-label me-3">Name</label>
                    <input name="foodTypeName" type="text" class="form-control me-3" required />
                    <button class="btn btn-primary" type="submit" style=" width: 200px;">Submit</button>
                </div>
            </form>
        </div>

        <div class="footer">
            <%- include('partials/footer.ejs') %>
        </div>

        <script>
            const addFoodtypeBtn = document.getElementById('addFoodtypeBtn');
            const errAdd = document.getElementById('err_add');
            const errupdate = document.getElementById('err_update');
            addFoodtypeBtn.addEventListener('click', function () {
                if (errAdd) {errAdd.style.display = 'none';}
                if (errupdate) {errupdate.style.display = 'none';}
                
                const form = document.getElementById('addFoodtypeForm');
                if (form.style.display === 'none') {
                    form.style.display = 'flex';
                    addFoodtypeBtn.textContent = 'Hide';
                } else {
                    form.style.display = 'none';
                    addFoodtypeBtn.textContent = 'New';
                }
            });
        </script>


</body>
</html>


