<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
        <title>EasyOrdering</title>
</head>

<body>
    <%- include('partials/navbarSelection.ejs') %>

        <div class="container-fluid">
            <h1 class="h1-top">Top 3 ordered Items</h1>
        
            <% let currentType=null; let index = 1;%>
            <% top3ItemsPerType.forEach(function(item) { %>
                <% if (item.foodtype !== currentType) { 
                    if (currentType !==null) { %>
                        </div>
                    <% }
                    currentType = item.foodtype; index = 1; %>
        
                    <!-- 类型标题 -->
                    <h3 class="text-left" style="margin-left: 20px; margin-top: 40px; margin-bottom: 5px;">
                        <%= item.typename %>
                    </h3>
        
                    <!-- 开始新的一组 d-flex -->
                    <div class="d-flex justify-content-center rounded border" style="padding: 10px; gap: 2%;">
                <% } else { index++; } %>
        
                <!-- 每张图片 -->
                <div style="display: flex; flex-direction: column; align-items: center; flex: 1; max-width: 30%;">
                    <img src="<%= item.picture %>" class="img-thumbnail zoomable"
                        style=" aspect-ratio: 1 / 1;  object-fit: cover; border-radius: 8px;" />
                    <label style="text-align: center; margin-top: 10px;"><strong>Top <%= index %>: <%= item.itemname %></strong></label>
                </div>
                <% if (index === top3ItemsPerType.length - 1) { %>
                    </div>
                <% } %>
            <% }); %>
        </div>

        <div class="footer">
            <%- include('partials/footer.ejs') %>
        </div>

</body>
</html>


